apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        fsGroup: 33
        runAsUser: 33
        runAsGroup: 33
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.45.0
          envFrom:
          - secretRef:
              name: linkding-secret
          volumeMounts:
            - mountPath: /etc/linkding/data
              name: linkding-data
          ports:
            - containerPort: 9090
          securityContext:
            AllowPrivelegeEscalation: False
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc
